<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Universe Docs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B06D08921F1F44A004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D09F21F1F44B004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D0AA21F1F44B004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D0C121F1F467004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D0C921F1F467004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D0FE21F1F738004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D10621F1F738004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D12D21F1F7C1004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D13521F1F7C1004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D17221F1F83E004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D17A21F1F83E004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D28121F1F931004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D28921F1F931004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D30221F1FF25004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B06D30A21F1FF25004E2E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
